{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
  {%- if customer and shop.metafields.loyalty['stealth_mode'] == "false" -%}
    {%- assign class = class | default: '' -%}
    <span data-loyal-target="rank-advancement-data" class="{{ class }}">
      <span style="display: none;" data-loyal-target="max-rank">
        {{ 'easypoints.tiers.achieve_highest_rank' | t }}
        <strong data-loyal-target="rank-advancement-tier-name">-</strong>
      </span>

      <span data-loyal-target="not-max-rank">
        {{ 'easypoints.tiers.spend_additional' | t }}
        <strong data-loyal-target="rank-advancement-amount">-</strong>
        {{ 'easypoints.tiers.to_rank_up' | t }}
        <strong data-loyal-target="rank-advancement-tier-name">-</strong>
      </span>
    </span>
  {%- endif -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}
