{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
  {%- if shop.metafields.loyalty['stealth_mode'] == "false" -%}
    {%- assign class = class | default: 'easy-points easy-points__total-points' -%}
    {%- assign text = text | default: 'easypoints.points' -%}

    <span class="{{ class }}">
      {% render 'easy_points_total_price_value', price: price %}
      <span class="easy-points__text easy-points__text--suffix">
        {{ text | t }}
      </span>
    </span>
  {%- endif -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}
