{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
  {%- assign reward_points_active = false -%}
  {%- for key_value in shop.metafields.loyalty['features'] -%}
    {%- if key_value[0] == "reward_points" and key_value[1] == true -%}
      {%- assign reward_points_active = true -%}
    {%- endif -%}
  {%- endfor -%}
  {%- assign birthday_points = false -%}
  {%- for key_value in shop.metafields.loyalty['rewards'] -%}
    {%- if key_value[0] == "birthday" and key_value[1] == true -%}
      {%- assign birthday_points = true -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if shop.metafields.loyalty['stealth_mode'] == "false" and reward_points_active and birthday_points -%}
    {%- assign class_label = class_label | default: '' -%}
    {%- assign class_input = class_input | default: '' -%}
    {%- comment -%}
    <label for="birthday" class="{{ class_label }}">
      {{ 'easypoints.note_form.birthday' | t }}
    </label>
    {%- endcomment -%}

    <input 
      class="{{ class_input }}" 
      type="text" onfocus="(this.type='date')" 
      placeholder="{{ 'easypoints.note_form.birthday' | t }}" 
      value="" 
      name="customer[note][birthday]" />
  {%- endif -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}
