{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
{%- assign shop_ep_metafield = shop.metafields.loyalty.easy_points_attributes.value -%}
{%- unless shop_ep_metafield.stealth_mode or customer -%}
  <a
    href="{{ routes.account_login_url }}"
    class="ep-login-prompt--text"
  >
    {{- 'easypoints.login_prompt' | t -}}
  </a>
{%- endunless -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}
